extends layout

block content
	h1= title
	section.section-task.containter-fluid
		.row
			.col-lg-4.tasks-col
				#tasks-mission
					include ./components/taskbox

			.col-lg-4.tasks-col
				#tasks-processing
					include ./components/taskbox

			.col-lg-4.tasks-col
				#tasks-done
					include ./components/taskbox
	section.section-task.containter-fluid.pt-5
		.row
			.col-lg-4
				ul.list-group#sortObj-1
					li.list-group-item 1234
					li.list-group-item 8888
					li.list-group-item 5555
					li.list-group-item 3333
					li.list-group-item 0000
			.col-lg-4
				ul.list-group#sortObj-2
					li.list-group-item 0987
					li.list-group-item 3425
					li.list-group-item 0987
					li.list-group-item 8888
			.col-lg-4
				ul.list-group#sortObj-3
					li.list-group-item 01010
					li.list-group-item 1111
					li.list-group-item 7777
