extends layout

block content
	h1= title
	section.section-task.containter-fluid
		.row
			.col-lg-4.tasks-col
				#tasks-mission
					.tasks-box
						h3.task-title Nhiệm Vụ
						.tasks
							- for(var i = 0; i < 4; i++)
								include ./components/task

			.col-lg-4.tasks-col
				#tasks-processing
					.tasks-box
						h3.task-title Đang Thực Hiện
						.tasks
							- for(var i = 0; i < 4; i++)
								include ./components/task

			.col-lg-4.tasks-col
				#tasks-done
					.tasks-box
						h3.task-title Đã Hoàn Thành
						.tasks
							- for(var i = 0; i < 4; i++)
								include ./components/task
